<div *ngIf="listasCreadas.length >= 1">
    <mat-form-field appearance="fill">
        <mat-label>Listas...</mat-label>
        <mat-select [(ngModel)]="listaSeleccionada">
        <mat-option *ngFor="let lista of listasCreadas" [value]="lista.id">
            {{lista.name}}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button mat-dialog-close (click)="addMovieToList()">Ingresar</button>
</div>

<div *ngIf="listasCreadas.length >= 1">
    <span><h1>o</h1></span>
</div>

<div>
    <form [formGroup]="nuevaLista">
        <h3>Introduzca el nombre de la lista</h3>
    
        <mat-form-field class="input-nombre" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Pelis de mi infancia..." required>
        </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput placeholder="Ej: Mis peliculas favoritas..." formControlName="descripcion"></textarea>
        </mat-form-field>
        <button mat-raised-button mat-dialog-close (click)="addMovieToNewList()" *ngIf="nuevaLista.valid;else invalido">Crear e ingresar</button>
        <ng-template #invalido>
            <button mat-raised-button mat-dialog-close disabled>Crear e ingresar</button>
        </ng-template>
    </form>
</div>