<div>
    <mat-form-field appearance="fill">
        <mat-label>Generos</mat-label>
        <mat-select [formControl]="generos" multiple>
          <mat-option *ngFor="let genre of genres" [value]="genre.id" (click)="filterList()">{{genre.name}}</mat-option>
        </mat-select>
      </mat-form-field>
</div>

<div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="space-around" *ngIf="actualMovies.length == 0;else filtradas">
<app-movie-item *ngFor="let movie of popularMovies" [movieInput]="movie" [favorite]="isFavorite(movie)" fxFlex="15%"></app-movie-item>
</div>

<ng-template #filtradas>
  <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="space-around">
    <app-movie-item *ngFor="let movie of actualMovies" [movieInput]="movie" [favorite]="isFavorite(movie)" fxFlex="15%"></app-movie-item>
  </div>
</ng-template>