
<mat-card class="movie-item">
    <mat-card-content>
        <img [src]="getMovieImageUrl(movieInput)" height="200px" width="100%" />
        <circle-progress class="pop"
            [percent]=movieInput.vote_average*10
      ></circle-progress>
        <h2 class="film-text">{{movieInput?.title}}</h2>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button color="primary" aria-label="Marcar como favorita" (click)="markFavorite()" *ngIf="favorite;else added">
            <mat-icon>favorite</mat-icon>
        </button>
        <ng-template #added>
            <button mat-icon-button color="primary" aria-label="Desmarcar como favorita" (click)="markFavorite()">
                <mat-icon>favorite_border</mat-icon>
            </button>
        </ng-template>
        <button mat-icon-button color="primary" aria-label="Añadir pelicula a una lista" (click)="openDialogAddToList()">
            <mat-icon>playlist_add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>