img {
    object-fit: cover;
    border-radius: 5px;
    height: 330px;
}

.film-text {
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.pop {
    position: absolute;
    top: 5px;
    left: 5px;
}
